@define-color custom-bg rgba(0, 0, 0, 0.8);
@define-color custom-text whitesmoke;
@define-color highlight-color #294C29;
@define-color highlight-text-color #C1D7C1;
@define-color inactive-color #4C2929;
@define-color inactive-text-color #D7C1C1;

* {
    /* `otf-font-awesome` is required to be installed for icons */
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 16px;
    border-radius: 20px;
    color: @custom-text;
}

window#waybar {
    background-color: rgba(0, 0, 0, 0);
}

/* .modules-right, */
.modules-center,
.modules-left {
    background-color: @custom-bg;
}

.modules-right {
    /* margin: 4px 4px 0 0; */
    margin: 4px 0 0 0;
    /* margin-right: 20px; */
}

.modules-center {
    margin: 4px 0 0 0;
}

.modules-left {
    margin: 4px 0 0 0;
    /* margin-left: 20px; */
}

#workspaces button {
    margin: 0 4px 0 0;
    padding: 1px 6px;
    background-color: transparent;
    background-color: rgba(60, 60, 60, 0.5);
}

#workspaces button:hover {
    box-shadow: inherit;
    background-color: rgba(120, 120, 120, 0.8);
    color: #000000;
}

#workspaces button.active {
    /* background-color: rgba(60, 60, 60, 0.5); */
    background-color: @highlight-color;
    color: @highlight-text-color;
}

#workspaces button.empty {
    background-color: rgba(0, 0, 0, 0);
}

/* #workspaces button:not(:empty) {
    background-color: rgba(60, 60, 60, 0.5);
} */


#custom-media.custom-spotify {
    background-color: @highlight-color;
    color: @highlight-text-color;
}

#custom-openvpn {
    background-color: @custom-bg;
    padding: 0 10px;
}

#custom-openvpn.active {
    background-color: @highlight-color;
    color: @highlight-text-color;
}

#custom-openvpn.inactive {
    background-color: @inactive-color;
    color: @inactive-text-color;
}

#pulseaudio.muted {
    background-color: @inactive-color;
    color: @inactive-text-color;
}

#cpu,
#memory,
#temperature,
#network,
#pulseaudio,
#idle_inhibitor {
    background-color: @custom-bg;
    padding: 0 10px;
}

#window,
#clock,
#custom-weather,
#custom-media,
#tray
{
    background-color: rgba(0,0,0,0);
    padding: 0 10px;
}

#custom-brave,
#custom-discord
{
    background-color: rgba(0,0,0,0);
    padding: 0 5px;
}

#clock {
    /* margin: 0 0 0 20px; */
    font-weight: bold;
}